* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.gist {
    font-size: 16px;
    color: #333;
    text-align: left;
    direction: ltr;
    width: 64rem;
}

img{
    width: 10em;
}